h1 {
text-align: center;
}

h3 {
text-align: center;
text-decoration: underline;
}

.link {
    display: block;
    padding: 10px;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: none;
    text-align: center;
    outline-color: blue;
    outline-style: solid;
  color: black;
}
 
.link:hover {
  background-color: aliceblue;
  color: grey;
}
html {
    background-color: lightblue;
}
